<div class="mdl-grid">
    <div class="mdl-layout__content">
      <a name="top"></a>
      <div class="mdb-welcome-section mdl-typography--text-center">
        <div class="mdb-large-text">Welcome to musicDB!</div>
    	</div>

      <div class="mdb-title-form" style="margin-top: 70px">
        <div class="mdb-title-description">Search for your favorite artists, songs, and more!</div>

          <!-- <div class="mdb-search-elements">
            <div class="search-box">
              <div class="search-container">
                <input type="search" id="search" placeholder="Search musicDB" />
              </div>
            </div>
          </div> -->
        <%= form_tag search_results_path, method: :get do %>
          <div class="mdb-search-elements">
            <div class="search-box">
              <!-- <div class="search-container"> -->
              <%= text_field_tag :q, nil , :placeholder => "Search musicDB", :class => "search-container", :style => "padding-left: 20px" %>
                <!-- <input type="search" id="search" placeholder="Search musicDB" />
              </div> -->
            </div>
          
            <div style="margin-top: 20px">
              <div><%= submit_tag 'SEARCH', :class => "mdl-button mdb-button", :style => "margin: 0 auto" %>
              </div>
              <div style="margin-top: 8px">
                <a class="mdb-link" href="advsearch.html" >Advanced Search</a>
              </div>
            </div>
          </div>
        <% end %>
        <!-- <div class="form-button" style="padding-top: 30px; padding-bottom: 20px; clear: both">
          <a href="results.html" id="submit-button" class="mdl-button mdb-button">SEARCH</a>
        </div> -->
        <!-- <a class="mdb-link" href="advsearch.html" >Advanced Search</a> -->
      </div>
    </div>
</div>
